.tank-item {
  &--premium {
    color: #ffd700;
  }
}


.tank-item__type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tank-item__equipment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
